@import "../../shared/scss/variables.scss";

.converter {
  .converter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;

    input, select, button, svg {
      font-size: 18px;
      margin: 0 4px;
    }

    .result {
      font-size: 24px;
      color: $light-gray;
      margin-top: 25px;
    }

    .swap-arrows {
      cursor: pointer;
    }
  }

  .conversion-logger {
    height: 200px;
    margin: 10px 0;
  }
}
