@import "../../shared/scss/variables.scss";

.header-component {
  background: $header-background;
  color: $header-text;
  display: flex;
  justify-content: center;

  .logo {
    animation: logo-spin infinite 20s linear;
    height: 80px;
  }

  @keyframes logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

  .header-container {
    display: inline-block;

    .navbar {
      padding-bottom: 7px;

      .bar {
        margin-right: 8px;
        display: inline-block;

        .active {
          border-bottom: 3px solid;
          padding-bottom: 5px;
        }
      }
    }
  }
}