@import "../../shared/scss/variables.scss";

.modal-container {
  .modal {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    min-width: 300px;
    min-height: 300px;
    padding: 15px;
    transform: translate(-50%, -80%);
    background: $white-color;
    display: flex;
    justify-content: center;

    .times {
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }
  }

  .backdrop {
    background: $transparent-light-gray;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
}