@import "../../shared/scss/variables.scss";

.change-rates {
  .select-value, .input-value {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
  }

  .rates-container {
    display: flex;
    align-items: center;

    .swap-arrows {
      font-size: 18px;
      margin-left: 10px;
      cursor: pointer;
    }
  }

  .input-value {
    display: inline-block;
    margin-right: 10px;
  }
}