@import 'variables.scss';

body {
  margin: 0;
  font-family: sans-serif;

  a {
    color: inherit;
    text-decoration: none;
  }

  .button {
    background: $dark-blue;
    color: $white-color;
    border: none;
    height: 45px;
    min-width: 50px;
    font-size: 18px;
    margin: 5px;
  }

  .container {
    margin: 20px;
  }

  .h-container {
    display: flex;
    justify-content: center;
  }

  .select-value {
    height: 45px;
    min-width: 200px;
    border-bottom: 2px solid $dark-blue;
  }

  .input-value {
    height: 40px;
    width: 100px;
  }
}